{% extends 'base.html.twig' %}

{% block title %}CGU
{% endblock %}

{% block body %}
	<div class="cguContainer">
        <h1>Conditions Générales d'Utilisation</h1>

		<h2>1. Présentation du Site</h2>
		<p>Le présent site web (ci-après "le Site") est un site vitrine destiné à présenter les services et activités de [Nom de l'Entreprise]. L'accès et l'utilisation du Site sont soumis aux présentes Conditions Générales d'Utilisation.</p>

		<h2>2. Acceptation des CGU</h2>
		<p>En naviguant sur le Site, l'utilisateur reconnaît avoir pris connaissance des présentes CGU et s'engage à les respecter.</p>

		<h2>3. Accès au Site</h2>
		<p>Le Site est accessible gratuitement à tout utilisateur disposant d'un accès à Internet. Tous les frais relatifs à l'accès au Site (matériel informatique, connexion Internet, etc.) sont à la charge de l'utilisateur.</p>

		<h2>4. Contenu du Site</h2>
		<p>Le contenu présent sur le Site est fourni à titre indicatif et peut être modifié à tout moment sans préavis. [Nom de l'Entreprise] s'efforce de fournir des informations exactes, mais ne garantit pas leur exactitude ou leur complète mise à jour.</p>

		<h2>5. Propriété Intellectuelle</h2>
		<p>Tous les éléments présents sur le Site (textes, images, logos, etc.) sont la propriété exclusive de [Nom de l'Entreprise] ou de tiers ayant autorisé leur utilisation. Toute reproduction, distribution ou exploitation sans autorisation est interdite.</p>

		<h2>6. Responsabilité</h2>
		<p>[Nom de l'Entreprise] ne saurait être tenu responsable des dommages directs ou indirects résultant de l'utilisation du Site, y compris en cas de bug, d'indisponibilité ou d'erreur dans les informations diffusées.</p>

		<h2>7. Liens Hypertextes</h2>
		<p>Le Site peut contenir des liens vers des sites tiers. [Nom de l'Entreprise] n'exerce aucun contrôle sur ces sites et décline toute responsabilité quant à leur contenu.</p>

		<h2>8. Données Personnelles</h2>
		<p>Le Site peut collecter des données personnelles dans le cadre de son fonctionnement. Pour en savoir plus, veuillez consulter notre Politique de Confidentialité.</p>

		<h2>9. Modification des CGU</h2>
		<p>[Nom de l'Entreprise] se réserve le droit de modifier ces CGU à tout moment. Les utilisateurs sont invités à les consulter régulièrement.</p>

		<h2>10. Droit Applicable et Juridiction Compétente</h2>
		<p>Les présentes CGU sont soumises au droit français. Tout litige relatif à leur application sera soumis aux tribunaux compétents du ressort de [Ville].</p>
	</div>

{% endblock %}
