{% extends 'base.html.twig' %}

{% block title %}Home!
{% endblock %}

{% block body %}
	<script async src="//www.instagram.com/embed.js"></script>


	<div {{ react_component('Carrousel/Carrousel') }}></div>


	<div {{ react_component('Cards/Cards', { 
			publicationsArray: publicationsArray, 
			fetchUrl : path('app_fetch_publications'),
			fetchInstaUrl : path('app_fetch_instagram_publications'),
			fetchAnnonceUrl : path('app_fetch_annonce'),
			assetUrl : asset('img/publications-images/'), 
		} ) }}></div>



{% endblock %}
